html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(red, yellow);
}

.header{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-bottom: -15px;
    color: white;
    font-size: 42px;
}

h2{
    color: white;
    font-size: 28px;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button{
    height: 200px;
    width: 300px;
    color: white;
    background-color: red;
    border-style: solid;
    border-radius: 10px;
    font-weight: 700;
    font-size: 32px;
    transition-duration: 0.1s;
}

button:hover{
    background-color: orange;
}

.results{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    background-color: white;
    color: red;
    height: 100px;
    width: 300px;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.score{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 700;
    margin: 30px;
    color: white;
    font-size: 32px;
}

p{
    margin: 0;
    background-color: white;
    color: red;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    border-width: 2px;
}

